{{ 'feature-v1.css' | asset_url | stylesheet_tag }}

{% assign count = 0 %}
{% for block in section.blocks %}
  {% assign count = count | plus: 1 %}
{% endfor %}

{% if count > 0 %}
  <section class="feature-v1">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'feature' %}
          <div class="feature-v1__slide">
            <h2 class="feature-v1__slide-title">
              <img src="{{ block.settings.icon | image_url: height: 24 }}" alt="icon" class="feature-v1__slide-icon">
              {{ block.settings.title }}
            </h2>
            <p class="feature-v1__slide-description">{{ block.settings.description }}</p>
          </div>
      {% endcase %}
    {% endfor %}
  </section>
{% endif %}

{% schema %}
{
  "name": "Features | v1",
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Feature",
      "type": "feature",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "description",
          "type": "textarea",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features v1" /* this name will appear in the dropdown list ("theme sections") */
    }
  ]
}
{% endschema %}