{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
{{ 'snippets-product-card.css' | asset_url | stylesheet_tag }}

<div class="featured-collection">
  <h1 class="featured-collection__title">{{ section.settings.title }}</h1>
  <p class="featured-collection__description">{{ section.settings.description }}</p>

  <div class="featured-collection__product-cards">
    {% for product in section.settings.collection.products limit: section.settings.count %}
      {% render 'product-card', product: product %}
    {% else %}
      {% for item in (1..section.settings.count) %}
        {% render 'product-card-placeholder' %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "A short description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "count",
      "default": 4,
      "min": 2,
      "max": 12,
      "label": "Number of products"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection" /* this name will appear in the dropdown list ("theme sections") */
    }
  ]
}
{% endschema %}