<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext }}</p>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-7 h-screen",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "default": "404",
    "label": "404 title"
    },
    {
    "type": "text",
    "id": "subtext",
    "default": "Nope. Go away",
    "label": "404 subtext"
    }
  ]
}
{% endschema %}