<div>
  <h2>Create account</h2>

  {% form 'create_customer' %}
  
    <!-- form errors -->
    {{ form.errors | default_errors }}
  
    <div>
      <label for="first-name">First name</label>
      <input
       
        type="text"
        id="first-name"
        name="customer[first_name]"
        autocomplete="given-name"
        placeholder="Harry">
    </div>
  
    <div>
      <label for="last-name">Last name</label>
      <input
       
        type="text"
        id="last-name"
        name="customer[last_name]"
        autocomplete="family-name"
        placeholder="Potter">
    </div>
  
    <!-- sample custom data -->
    <div>
      <label for="birthday">DOB</label>
      <input
       
        type="date"
        id="birthday"
        name="customer[note][birthdate]">
    </div>
  
    <div>
      <label for="email">Email address</label>
      <input
       
        type="email"
        id="email"
        name="customer[email]"
        autocomplete="email"
        placeholder="harry.potter@hogwarts.com">
    </div>
  
    <div>
      <label for="password">Password</label>
      <input
       
        type="password"
        id="password"
        name="customer[password]"
        autocomplete="new-password"
        placeholder="••••••••">
    </div>
  
    <button type="submit">Register</button>
  
  {% endform %}
</div>
