{% paginate collection.products by 5 %}
  {% for product in collection.products %}
    {% render 'product-card', product: product %}
  {% else %}
    <p>No products found!</p>
  {% endfor %}

  {% render 'pagination', paginate: paginate %}
{% endpaginate %}