<div>
  <h2>Reset your password</h2>

  {% form 'reset_customer_password' %}
  
    <!-- form errors -->
    {{ form.errors | default_errors }}
  
    <div>
      <label for="password">New password</label>
      <input
       
        type="password"
        id="password"
        name="customer[password]"
        autocomplete="new-password"
        placeholder="••••••••">
    </div>
  
    <div>
      <label for="password-confirm">Confirm password</label>
      <input
       
        type="password"
        id="password-confirm"
        name="customer[password_confirmation]"
        autocomplete="new-password"
        placeholder="••••••••">
    </div>
  
    <button type="submit">Update password</button>
  
  {% endform %}
</div>
