<div x-data="{ showLoginForm: true }">
  <div x-show="showLoginForm">
    <h2>Login</h2>

    {% form 'customer_login' %}
    
      <!-- form errors -->
      {{ form.errors | default_errors }}
    
      <div>
        <label for="email">Email address</label>
        <input
         
          type="email"
          id="email"
          name="customer[email]"
          autocomplete="email"
          placeholder="harry.potter@hogwarts.com">
      </div>
    
      {% if form.password_needed %}
        <div>
          <label for="password">Password</label>
          <input
           
            type="password"
            id="password"
            name="customer[password]"
            autocomplete="current-password"
            placeholder="••••••••">
        </div>
      {% endif %}
    
      <button type="submit">Sign In</button>
    
    {% endform %}
  </div>

  <div x-cloak x-show="!showLoginForm">
    <h2>Recover password</h2>

    {% form 'recover_customer_password' %}

      <!-- form errors -->
      {{ form.errors | default_errors }}

      <div>
        <label for="recover_email">Email address</label>
        <input
         
          type="email"
          id="recover_email"
          name="email"
          autocomplete="email"
          placeholder="harry.potter@hogwarts.com">
      </div>

      <button type="submit">Recover password</button>

    {% endform %}
  </div>

  <u
    x-on:click="showLoginForm = !showLoginForm"
    x-text="showLoginForm ? 'Forgot password?' : 'Back to login'"
   >
    Forgot password?
  </u>

  <!-- guest login -->
  {% if shop.checkout.guest_login %}
    <hr>
    <div>
      {% form 'guest_login' %}
        <button type="submit">Continue as guest</button>
      {% endform %}
    </div>
  {% endif %}
</div>
