<div x-data="{ showLoginForm: true }" class="w-96 mx-auto">
  <div x-show="showLoginForm">
    <h2>Login</h2>

    {% form 'customer_login' %}
    
      <!-- form errors -->
      {{ form.errors | default_errors }}
    
      <div class="flex flex-col">
        <label for="email">Email address</label>
        <input
          class="border rounded-sm p-2"
          type="email"
          id="email"
          name="customer[email]"
          autocomplete="email"
          placeholder="harry.potter@hogwarts.com">
      </div>
    
      {% if form.password_needed %}
        <div class="flex flex-col">
          <label for="password">Password</label>
          <input
            class="border rounded-sm p-2"
            type="password"
            id="password"
            name="customer[password]"
            autocomplete="current-password"
            placeholder="••••••••">
        </div>
      {% endif %}
    
      <button class="rounded-sm bg-gray-800 text-white p-2" type="submit">Sign In</button>
    
    {% endform %}
  </div>

  <div x-cloak x-show="!showLoginForm">
    <h2>Recover password</h2>

    {% form 'recover_customer_password' %}

      <!-- form errors -->
      {{ form.errors | default_errors }}

      <div class="flex flex-col">
        <label for="recover_email">Email address</label>
        <input
          class="border rounded-sm p-2"
          type="email"
          id="recover_email"
          name="email"
          autocomplete="email"
          placeholder="harry.potter@hogwarts.com">
      </div>

      <button class="rounded-sm bg-gray-800 text-white p-2" type="submit">Recover password</button>

    {% endform %}
  </div>

  <u
    x-on:click="showLoginForm = !showLoginForm"
    x-text="showLoginForm ? 'Forgot password?' : 'Back to login'"
    class="cursor-pointer">
    Forgot password?
  </u>

  <!-- guest login -->
  {% if shop.checkout.guest_login %}
    <hr class="my-5">
    <div class="flex justify-center">
      {% form 'guest_login' %}
        <button class="rounded-sm bg-gray-800 text-white p-2" type="submit">Continue as guest</button>
      {% endform %}
    </div>
  {% endif %}
</div>
