<div class="w-96 mx-auto">
  <h2>Reset your password</h2>

  {% form 'reset_customer_password' %}
  
    <!-- form errors -->
    {{ form.errors | default_errors }}
  
    <div class="flex flex-col">
      <label for="password">New password</label>
      <input
        class="border rounded-sm p-2"
        type="password"
        id="password"
        name="customer[password]"
        autocomplete="new-password"
        placeholder="••••••••">
    </div>
  
    <div class="flex flex-col">
      <label for="password-confirm">Confirm password</label>
      <input
        class="border rounded-sm p-2"
        type="password"
        id="password-confirm"
        name="customer[password_confirmation]"
        autocomplete="new-password"
        placeholder="••••••••">
    </div>
  
    <button class="rounded-sm bg-gray-800 text-white p-2" type="submit">Update password</button>
  
  {% endform %}
</div>
