.template-collection {
  margin-top: calc(0% - var(--mobile-header-height));
}

.collection__hero {
  position: relative;
  padding: 150px var(--mobile-page-padding) calc(2 * var(--mobile-page-padding));
  color: var(--text-color-alt-primary);
  background-color: rgba(0, 0, 0, 0.8);
}
.collection__hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.collection__hero-title {
  font-size: 30px;
  font-weight: 500;
}
.collection__hero-description {
  font-size: 12px;
  line-height: var(--description-line-height);
}
.collection__hero-description::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin-block: 20px;
  background-color: var(--background-color-primary);
}
.collection__results {
  padding: var(--mobile-page-padding);
}
.collection__result-count {
  color: var(--text-color-secondary);
  font-size: 12px;
  text-align: right;
}
.collection__product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.collection__product-cards .product-card {
  width: calc((100% - var(--mobile-page-padding) + 5px) / 2);
  margin-top: calc(var(--mobile-page-padding) + 5px);
}
.collection__product-cards .product-card:nth-of-type(2n) {
  margin-left: calc(var(--mobile-page-padding) - 5px);
}