.template-product {
  margin-top: calc(0% - var(--mobile-header-height));
  padding-bottom: 100px;
}

.swiper-slide .product--media {
  height: 400px;
}

.product--media {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.product--information {
  padding: var(--mobile-page-padding);
}
.product--info-1 {
  display: flex;
  justify-content: space-between;
}
.product--title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.product--vendor {
  margin-top: 7px;
  color: var(--text-color-secondary);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.product--price-wrapper {
  margin-left: var(--mobile-page-padding);
  white-space: nowrap;
  text-align: right;
}
.product--sale-sign {
  display: inline-block;
  margin-bottom: 5px;
  padding: 3px 8px;
  color: var(--text-color-alt-primary);
  font-size: 10px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--background-color-alt-primary);
  border-radius: 20px;
}
.product--actual-price {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}
.product--marked-price {
  margin-top: 2px;
  color: var(--text-color-secondary);
  font-size: 12px;
  text-decoration: line-through;
}
.product--variant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 22px;
}
.product--variant-label {
  font-size: 14px;
  font-weight: 500;
}
.product--variant-options {
  margin-top: 12px;
}
.product--variant-option-label {
  margin-left: 10px;
  padding: 4px 10px;
  background-color: var(--background-color-secondary);
  border-radius: 3px;
  cursor: pointer;
}
.product--variant-option-label:first-of-type {
  margin-left: 0;
}
.product--variant-option-radio {
  display: none;
}
.product--variant-option-radio:checked + label {
  color: var(--text-color-alt-primary);
  background-color: var(--background-color-alt-primary);
}
.product--description {
  margin-top: 35px;
  font-size: 12px;
  line-height: var(--description-line-height);
}
.product--checkout-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px var(--mobile-page-padding);
  background-color: rgba(var(--background-color-alt-primary-rgb), 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.product--add-to-cart-cta {
  flex-grow: 1;
  margin-left: var(--mobile-page-padding);
}
.product--add-to-cart-cta .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.quantity-selector {
  display: flex;
}
.quantity-selector--button {
  width: 30px;
  height: 30px;
  border: solid 1px var(--text-color-alt-primary);
  color: var(--text-color-alt-primary);
  background: none;
  border-radius: 50%;
}
.quantity-selector--display {
  width: 30px;
  border: none;
  color: var(--text-color-alt-primary);
  font-size: 12px;
  text-align: center;
  background: none;
  outline: none;
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 5px;
}